.pt1{
    color: #d125e4;
    border-width: 6p;
    border-style: double;
    margin-left: 6%;
}
.pt2{
    color: rgb(77, 24, 63);
    border-width: 6p;
    border-style: double;
    margin-left: 7%;
}
.pt3{
    color: rgb(54, 12, 88);
    border-width: 6p;
    border-style: double;
    margin-left: 8%;
}
.pt4{
    color: rgb(95, 11, 151);
    border-width: 6p;
    border-style: double;
    margin-left: 9%;
}